:root {
    --font-title: 'Squada One', cursive;
    --font-text-2: 'Open Sans', sans-serif;
    --font-text-1: 'Inter', sans-serif;
}

p {
    font-family: var(--font-title-1);
    font-size: 1.2rem; 
}


/* 
#preloader {
    height: 100dvh;
} */
.about-nav-container {
    margin: 0;
    padding: 0;
}
/* .container {
    margin: 0;
    padding: 0;
} */
.about-section-2 {
    padding-inline: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.about-section-2 p {
    text-align: center;
}
.about-container {
    /* margin: 0;
    padding: 0; */
    
}
.about-container h3{
    margin: 0;
    padding: 0;
    
}
.about-contact-container {
    margin: 0;
    padding: 0; 
}
 .about-hero {
    width: 60%;
    justify-content: center;
    margin: 0;
    padding: 0;
 }
 .about-hero:hover {
    width: 65%;
 }

 .about-section-2 {
    margin: 0;

 }



  @media screen and (max-width: 900px) {
    * {
        /* outline: blue 2px solid; */
    }
    footer {

        top: 10rem;
     }
 } 