/* title font font-family: 'Squada One', cursive; */
/* text font font-family: 'Poppins', sans-serif; */
*, a, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* outline: 2px solid purple; */
}

:root {
    --font-title: 'Squada One', cursive;
    --font-text: 'Poppins', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.nav-container {
    width: 100%;
    position: fixed;
    color: white;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    /* background-color: transparent; */
    display: flex;
    height: 10dvh;
    opacity: 0;
}
.nav-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: blueviolet;
    z-index: 5;
}
.logo-container {
    position: relative;
    margin-inline: auto;
    z-index: 5;
    top: 2rem;
    color: black;
}

.ul-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 5rem 5rem 15rem 0 ; 
    /* right: 1rem; */
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    height: 100dvh;
    transform: translate(-250px);
}
.ul-wrapper a, li {
    color: rgb(126, 0, 0);
    z-index: 5;

}
.hero-img {
    width: 80%;
    margin-inline: auto;
    position: absolute;
    color: black;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all ease-in-out .4s;
}
.hero-img:hover {
    width: 85%;
    box-shadow: 3px 6px 6px 1px rgba(0, 0, 0, 0.658);
}


h1 {
    font-family: var(--font-title);
    
}

#preloader {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.loader-text{
    letter-spacing: 30px;
    color: white;
    font-weight: 700;
    position: relative;
    top: -50px;
    pointer-events: none;
    user-select: none;
}

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 1;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.pace .pace-progress {
    max-width: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    /* margin-inline: auto; */
    justify-content: center;
    background-color: white;
}



.container {
    z-index: 1;
    position: relative;
    /* background-color: red; */
    height: 100dvh;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;



}

.section-2 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    color: white;

}

.section-2-content {
    position: absolute;
    margin-block: auto;
    text-align: center;
    /* background-color: red; */
}

.section-2 p{

}


.section-3 {
    margin-block: 6rem;
    padding-block: 3rem;
    background-color: rgb(245, 245, 245);
    width: 80%;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    height: 50rem;
    outline: .6px rgba(0, 0, 0, 0.278) solid;

    /* justify-content: center; */
    /* flex-direction: column; */
}
.section-3 .section-3-left  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 30%;
    margin-block: 1rem;

    
}

.left-tag-container {
    width: 50%;
    /* background-color: yellow; */

}
.section-3 .section-3-right  {
    /* position: relative; */


    width: 100%;
    height: 100%;
    /* background-color: green; */
    justify-content: center;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 40rem;
    /* background-color: yellow; */
}
.service {
    width: 100%;
    /* background-color: rgb(147, 139, 153); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: .5px .5px .5px .5px   rgba(203, 203, 203, 0.615);
    /* height: 50%; */
}
.service:hover {
    background-color:  rgba(255, 255, 255, 0.837);
    box-shadow: .5px .5px .5px .5px  rgba rgb(245, 245, 245);

}


.section-4 {
    margin-block: 16rem ;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: rgb(190, 0, 0); */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    position: relative;
}
.section-4 h3 {
    color: white;
    margin-block: 1rem;
}

.wrapper{
    display: flex;

    max-width: 1200px;
    position: relative;
    
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 2;
    margin-inline: 1.5rem;

  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-block: .3rem;
    background-color: red;
  }

  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    outline: 2px white solid;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }

/* 
// media q
*/
@media screen and (min-width: 700px) {

    .hero-img {
        width: 25%;

    }
    .hero-img:hover {
        width: 27%;

    }

    .section-3 {
        /* background-color: blue; */
        height: 80dvh;
        flex-direction: row;
    }

    .section-3 .section-3-left  {
        /* background-color: red; */
        width: 50%;
        height: 100%;
    
        
    }
    .service-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;

    }


    .section-4 h3 {
        color: white;
        margin-block: 4rem;
    }


}