/* title font font-family: 'Squada One', cursive; */
/* text font font-family: 'Poppins', sans-serif; */
*, a, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* outline: 2px solid purple; */
}

:root {
    --font-title: 'Squada One', cursive;
    --font-text: 'Poppins', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.nav-container {
    width: 100%;
    position: fixed;
    color: white;
    z-index: 3;
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
    display: flex;
    height: 10dvh;
    opacity: 0;
}
.nav-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: blueviolet;
    z-index: 5;
}
.logo-container {
    position: relative;
    margin-inline: auto;
    z-index: 5;
    top: 2rem;
    color: black;
}

.ul-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 5rem 5rem 15rem 0 ; 
    /* right: 1rem; */
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    height: 100dvh;
    transform: translate(-250px);
}
.ul-wrapper a, li {
    color: rgb(126, 0, 0);
    z-index: 5;

}
.hero-img {
    width: 80%;
    margin-inline: auto;
    position: absolute;
    color: black;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
}



h1 {
    font-family: var(--font-title);
    
}

#preloader {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.loader-text{
    letter-spacing: 30px;
    color: white;
    font-weight: 700;
    position: relative;
    top: -50px;
    pointer-events: none;
    user-select: none;
}

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 1;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.pace .pace-progress {
    max-width: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    /* margin-inline: auto; */
    justify-content: center;
    background-color: white;
}



.container {
    z-index: 1;
    position: relative;
    background-color: red;
    height: 100dvh;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;


}
.services {
    background-color: blue;
    height: 80%;
    width: 80%;
    display: flex;
    margin-block: auto;
    margin-inline: auto;
    overflow: hidden;
}
.services .left{
    background-color: indianred;
}
.services .right{
    background-color: rgb(92, 205, 126);

}

.services .left, .services .right {
    
    width: 50%;
    margin-block: auto;

}



@media screen and (min-width: 700px) {

    .hero-img {
        width: 25%;

    }


}